<div class = input-header>
kiso ouyou
</div>

  基礎 lesson1
<% @lessonsKisoOne.each do |lesson| %>
  <%= link_to "#{lesson.title}","/lessons/#{lesson.id}/inputs" %>
<% end %>
  基礎 lesson2
<% @lessonsKisoTwo.each do |lesson| %>
  <%= link_to "#{lesson.title}","/lessons/#{lesson.id}/inputs" %>
<% end %>
