<div class = "sellect-lesson-wrapper">

  <div class = "btns btn-frame">
    <div class = "btn base-btn">
    bese
    </div>
    <div class = "btn development-btn">
    development
    </div>
  </div>
  

<div class = "baseLessons">
    <div class =" lesonNo">
      基礎 lesson1
    </div>
    <div>
    <% @lessonsKisoOne.each do |lesson| %>
      <%= link_to "#{lesson.title}","/lessons/#{lesson.id}/inputs" %>
    <% end %>
    </div>

    <div>
      基礎 lesson2
    <div>
    <% @lessonsKisoTwo.each do |lesson| %>
      <%= link_to "#{lesson.title}","/lessons/#{lesson.id}/inputs" %>
    <% end %>
    </div>

    <div class = "developmentLessons">
    <div class =" lesonNo">
      基礎 lesson1
    </div>
    <div>
    <% @lessonsKisoOne.each do |lesson| %>
      <%= link_to "#{lesson.title}","/lessons/#{lesson.id}/inputs" %>
    <% end %>
    </div>

    <div>
      基礎 lesson2
    <
    <div>
    <% @lessonsKisoTwo.each do |lesson| %>
      <%= link_to "#{lesson.title}","/lessons/#{lesson.id}/inputs" %>
    <% end %>
    </div>

</div>