<div class = "sellect-lesson-wrapper">

<%# ファーストボタン %>
  <div class = "btn-frame">
    <div class = "first-btn btn">
    input
    </div>
    <div class = "first-btn btn">
    output
    </div>
  </div>

<div class= "second-btnsss">
  <%# セカンドボタンインプット %>
  <div class= "secondBtns " >
      <div class = " btn-frame ">      <%# ボタン二つの枠組みようクラス %>
          <div class = "secondBtn btn ">
            i base
          </div>                   
          <div class = "secondBtn btn ">
            i development
          </div>
      </div>
  </div>

<%# セカンドボタンアウトプット %>
  <div class= "secondBtns " >
      <div class = "btn-frame">
        <div class = "secondBtn btn ">
          o base
        </div>
        <div class = "secondBtn btn ">
          o development
        </div>
      </div>
  </div>
</div>

<div class ="lessonsAllBox">

  <%# アウトプット  基礎 %>
<div class= "delete">
  <div class ="outputBaseLesson lessons-boxs notshow" >
    OUTPUT → BASE
      
      <div class = "lesson-no">
        lesson1
      </div>

      <div class = "title">
        <% @lessonsKisoOne.each do |lesson| %>
        <%= link_to "#{lesson.title}","/lessons/#{lesson.id}/inputs" %>
        <% end %>
      </div>
    
      <div class = "outputBaseLesson__lesson-no">
        lesson2
      </div>

      <div class = "outputBaseLesson__title">
        <% @lessonsKisoTwo.each do |lesson| %>
        <%= link_to "#{lesson.title}","/lessons/#{lesson.id}/inputs" %>
        <% end %>
      </div>
  </div>
</div>


<%# アウトプット 応用 %>
  <div class ="outputDevelopmentLesson lessons-boxs notshow" >
      OUTPUT → DEVELOPMENT

      <div class = "lesson-no">
        lesson1
      </div>

      <div class = "title">
        <% @lessonsOuyouOne.each do |lesson| %>
        <%= link_to "#{lesson.title}","/lessons/#{lesson.id}/inputs" %>
        <% end %>
      </div>
 
      <div class = "lesson-no">
        lesson2
      </div>

      <div class = "title">
        <% @lessonsOuyouTwo.each do |lesson| %>
        <%= link_to "#{lesson.title}","/lessons/#{lesson.id}/inputs" %>
        <% end %>
      </div>
  </div>
</div>
