<%# lessons#new html
インプットからのお礼フォーム用 %>

<div class = "input_wrappar thanksForm">
<div class ="oka">
<div class= "thanksInput">


  <%= form_with(url:  "/lessons", local: true, method: :POST, class: "") do |form| %>
  <%= form.text_field :name, placeholder: "Enter Name   ※ not my name", class: "thanksNameBox" %>
  <%= form.submit "thanks", class: "thanksSend" %>
  <% end %>

</div>
</div>
</div>

<footer>
</footer>