<%# lessons#new html
アウトプットからのお礼フォーム用 %>
<div class = "input_wrappar thanksForm">
<div class ="oka">
<div class = "thanksInput">

<%= form_with(url:  "/lessons/#{params[:id]}", local: true, method: :DELETE, class: "") do |form| %>
  <%= form.text_field :name, placeholder: "Enter Name   ※ Output user name", class: "thanksNameBox" %>
  <%= form.submit "thanks", class: "thanksSend" %>
<% end %>

</div>
</div>
</div>

<footer>
</footer>