<div class= 'all-inputs-header'>
  <div class = 'select-btn-kiso'>
  基礎
  </div>

  <div class = 'select-btn-oyou'>
  応用
  </div>
</div>

  <div class = 'lesson-select'>
  lesson1
    <%= link_to  "テックマスタの使い方",'/all_inputs/1/inputs' %>
  </div>



