.devise_format{
  border: solid;
  background-color:white;
  width: 300px;
  margin: 0 auto;
  margin-top:300px;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
}

.content{
  background: image-url("te.jpg");
  background-size:cover;
  height: 100%;
  width: 100%;
  padding-top: 300px;
  .startBtn{ 
    a{color: white;}
    margin:200px auto;
    border: solid;
    border-radius: 20px;
    border-color:white;
    height: 70px;
    width: 300px;
    font-size: 40px;
    text-align: center;
    line-height: 70px;
    background-color:black;
   }
}