.all-inputs-header{
  height :100px; 
  background-color: red;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size :30px;
  .select-btn-kiso{
   height:50px;
   width: 100px;
   margin-left: 400px;
   background-color: yellow;
   text-align: center;
  }
  .select-btn-oyou{
   height:50px;
   width: 100px;
   background-color: yellow;
   text-align: center;
   margin-right: 400px;
  }
}
