@import "reset";
@import "entrances";
@import "all_outputs";
@import "inputs";

.wrapper{
  box-sizing: border-box;
a{
  text-decoration: none;
}

.header {
  &__up{
      background-color: ivory;
      display: flex;
      justify-content: space-between;
    &__titles{
      height: 80px;  
      background-color: greenyellow; 
      display: flex;
      align-items: center;
      width:30%;
      &__title{
        background-color:red;
        margin-left: 30px;
        font-size: 50px;
        text-decoration: none;
      }
      &__subtitle{
      height:60px;
      width: 100%;
      background-color:blue ;
      position: relative;

        .subtitle{
          position: absolute;
          bottom: 7px;
          font-size: 18px;
        }
      }
    }
      &__account{
      display: flex;
      align-items: center;
      font-size: 30px;
      margin-right: 30px;
      .account_btn{
        margin-left: 30px;
        display: block;
        background-color: black;
        padding: 5px 10px;
      }
      }
  }
}



  .infomation{
    background-color: yellow;
    width: 100%;
    text-align: right;
  }
  .main{
    padding-top: 100px;
  }
}