

.input_wrappar{
    position: absolute;
    top:230px;
    right:100px;
    left: 100px;
    bottom: 100px;
    background-color:white;
    border:solid;
    border-radius: 20px;
    overflow: scroll;

}



.newInputBox{
  width:80%;
  border: solid;
  margin: 0 auto;
  margin-top:30px;
  margin-bottom: 30px;
  background-color: gray;
  border-radius: 20px;
  padding: 10px;
}

  .inputForm{
    width: 99%;
    margin-top:20px;
    font-size:20px;
  }

  .inputSend{
    height: 50px;
    width:300px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left:40%;
  }

    
  .input-box{
    word-break: break-all;
    width:1000px;
    margin: 0 auto;
    margin-top :40px;
    margin-bottom: 40px;
    border: solid;
    padding: 10px;
    background-color:rgba(205, 207, 202, 0.911);
  }
    
  .input-title{
      font-size: 25px;
    }
  .input_content{
      background-color: white;
      font-size: 15px;
      border: solid;
      margin-bottom: 5px;
      padding-left:5px;
    }

    .input_image{
      background-color: white;
      font-size: 15px;
      border: solid;
      margin-bottom: 5px;
      padding-left:5px;
    }

    .input_name{
      margin-bottom: 5px;
      font-size: 15px;
      border: solid;
      padding-left:5px;
      background-color: white;
    }

    .deleteOutput{
      background-color: yellow;
      font-size: 15px;
      display: flex;
      justify-content:space-between;
    }


