
.mypageWrapper{
  padding-top:230px;
  }

.my_input_wrappar{
  position: absolute;
  top:290px;
  right: 100px;
  left: 100px;
  bottom: 100px;
  background-color:white;
  border:solid;
  border-radius: 20px;
  overflow: scroll;
}
  

.mypage-btn{
  background-color:gray;
  color: white;
}

.active-btn{
  background-color: white;
  color: black;
}

.mypageDefault{
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.activeMypage{
  display:block;
  height: 1000px;
}

.mypageNonShow{
  display:none
}

.thanksForm{
  font-size: 30px;

}



.oka{
  height: 90%;
  background: image-url("oka.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left:450px;
  top:100px;

  
}

.thanksInput{
margin-top: 230px;
  border: solid;
}

.thanksNameBox{
  width:900px;
}

.thanksSend{
  background-color: red;
}
