   <div class="hintBox">
  <div class="hintClose">
  close
  </div>
    <div class= "hintContnet">
      <p>・このアプリは、テックエキスパート 受講生のインプットとアウトプットを支援するためのものです。</p>
      <p>・出席中はヘッダーの　ON　をクリックし、退出する時は　OFF をクリックしてください。</p>
      <p>（そうすることで、あなたの投稿のslackの欄が赤くなります。）</p>
      <p>・あくまで受講生同志で教え合うためどうしてもわからなければ、メンターに質問してください。</p>
      <p>・アウトプットの回数は、右上にインフォメーションに表示されています。</p>
      <p>・できるだけ多くのアウトプットを行うように心がけましょう。</p>
    </div>
</div>
   
   <div class ="content">
    <div class="startBtn">
      <%= link_to 'Index','/all_outputs' %>
    </div>
  </div>

<footer>
  <div class="account_btn footerBtnReturn hintBtn">
hint
</div>
</footer>
